<ng-container *ngFor="let config of dynamicFormService.forms$ | async">
  <div class="question">{{ config.question }} <span *ngIf="config.isRequired">*</span></div>

  <mat-form-field *ngIf="config.type === 'paragraph'">
    <textarea matInput [formControl]="config.control"></textarea>
    <mat-error *ngIf="config.group.touched && config.control.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div *ngIf="config.type === 'checkbox'" [formGroup]="config.group">
    <mat-checkbox *ngIf="config.options.option1" formControlName="option1">{{ config.options.option1 }}</mat-checkbox>
    <mat-checkbox *ngIf="config.options.option2" formControlName="option2">{{ config.options.option2 }}</mat-checkbox>
    <mat-checkbox *ngIf="config.options.option3" formControlName="option3">{{ config.options.option3 }}</mat-checkbox>
    <mat-checkbox *ngIf="config.options.option4" formControlName="option4">{{ config.options.option4 }}</mat-checkbox>
    <mat-checkbox *ngIf="config.options.option5" formControlName="option5">{{ config.options.option5 }}</mat-checkbox>

    <div *ngIf="config.specifyAnswer" class="other">
      <mat-checkbox formControlName="other">Other</mat-checkbox>
      <mat-form-field>
        <input matInput [formControl]="config.other" />
      </mat-form-field>
    </div>

    <mat-error *ngIf="config.group.touched && config.group.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
  </div>
</ng-container>

<div class="add" (click)="openDialog()">Add New Question</div>

<button mat-flat-button color="primary" (click)="review()">Review my answers ></button>
